@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --color-accent: #ef4444;
  --color-navy-900: #111827;
}

/* CSS Variables for Light Mode */
:root {
  --background: #FAFAFA; /* Off-white background */
  --foreground: #1A1A1A; /* Deep charcoal text */
}

/* CSS Variables for Dark Mode */
.dark {
  --background: #0A0A0A; /* Deep black/gray background */
  --foreground: #EDEDED; /* Soft white text */
}

/* Apply variables to body */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@keyframes blob {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
